#rect{
    height:100px;
    width:100px;
    border: solid black 0.5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#circle{
    height: 50px;
    width: 50px;
    border: solid black 0.5px;
    border-radius: 50%;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}